input#username {
  width: 560px;
  height: 50px;
  margin-top: 250px;
  background: #d9d9d9;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  margin-right: 200px;
}
input#password {
  width: 560px;
  height: 50px;
  background: #d9d9d9;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 30px;
}
#user {
  margin-left: 350px;
  width: 184px;
  height: 45px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 45px;
  color: whitesmoke;
  margin-right: 20px;
}
#pass {
  margin-left: 350px;
  width: 184px;
  height: 45px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 45px;
  color: whitesmoke;
  margin-right: 25px;
  margin-top: 30px;
}
#theebutton {
  margin-top: 50px;
  width: 100px;
  height: 51px;
  margin-left: 500px;
  background: #d9d9d9;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 45px;
  color: #000000;
}
